.chat {
	height: 50vh;
	overflow: scroll;
	margin: 1vh 0;
	border: 1px solid #ececec;
	padding: 1vw;
}

.chat__message {
	font-size: 20px;
    padding: 1vw;
    border-radius: 15px;
    background-color: #bdbdbd;
    margin: 0.5vw 0;
	margin-right: 5vw;
	word-wrap: break-word;
}

.chat__message_my {
	background-color: #0e751f;
	color: #bdbdbd;
	margin-right: 0;
	margin-left: 5vw;
	text-align: right;
}

.chat__input {
	font-size: 24px;
}

.chat__email {
	text-align: right;
    font-size: 10px;
    color: #000;
}

.chat__message_my .chat__email {
	text-align: left;
	color: #fff;
}
